<div class="main" class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Contacts</h1>
            <h3 class="mb-5">
                <em>Save your contacts!</em>
            </h3>
            <a href="/signin" class="btn btn-primary ">Let's start</a>
        </div>
    </header>
</div>